@use "../../../css/theming/color";
@use "../../../css/theming/typography";

:host {
  display: block;
  margin: 1rem 0;
  text-align: start;
}

.caption {
  @include typography.useStyle(overline);
  display: block;
  margin: 4px 0;
}

.optional-label {
  color: var(--uni-medium);
}

.input-field {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  border: 1px solid color.useVar(dark);
  border-radius: 4px;
}
:host(.input--has-errors) .input-field {
  border-color: var(--uni-danger);
}

.input-field:focus-within {
  box-shadow: 0 0 0 2px rgba(0, 128, 255, 0.5);
}

.input-prepend {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0 10px;
  background: var(--uni-light);
  min-width: 20px;
}

.input-elem {
  padding: 10px 12px;
  font-family: inherit;
  font-size: 1rem;
  border: none;
}

.input-errors {
  margin-top: 0.3rem;
  color: var(--uni-danger);

  ion-icon {
    vertical-align: top;
    margin-right: 0.5rem;
    display: inline-block;
    font-size: 24px;
  }

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0.9rem;
  }
}
