@use "../theme";

$fonts: (
  body: unquote("Futura, sans-serif"),
  header: unquote("Graphik, sans-serif")
);

$colors: (
  white: (
    base: #FFFFFF
  ),
  black: (
    base: #000000
  ),
  grey: (
    light: #E6E6E6,
    base: #808080,
    dark: #303030
  ),
  blue: (
    light: #00AFF2,
    base: #1CABE2,
    dark: #374EA2
  ),
  green: (
    light: #83B94A,
    base: #80BD41,
    dark: #00833D
  ),
  yellow: (
    light: unknown,
    base: #FFC20E,
    dark: #CC990C
  ),
  orange: (
    light: unknown,
    base: #F26A21,
    dark: #BD511A
  ),
  red: (
    light: #EF626C,
    base: #E2231A,
    dark: #961A49
  )
);

@include theme.createTheme($colors, $fonts);
