@use "../theme";

$typeConfig: (
  body: unquote("Futura, sans-serif"),
  header: unquote("Graphik, sans-serif"),

  light: #FFFFFF, // Light colored text
  dark: #303030
);

$colors: (
  primary: (
    base: #1CABE2,
    dark: #374EA2,
    light: #49BDEB,
    contrast: light
  ),
  accent: (
    base: #FFC20E,
    dark: #F0A800,
    light: #FFD119,
    contrast: dark
  ),
  success: (
    base: #80BD41,
    dark: #6EA82C,
    light: #81C74C,
    contrast: dark
  ),
  danger: (
    base: #E2231A,
    dark: #CF1B0A,
    light: #F02E2B,
    contrast: dark
  ),
  dark: (
    base: #303030,
    dark: #262424,
    light: #3D3D3D,
    contrast: light
  ),
  light: (
    base: #D6D6D6,
    dark: #B3B3B3,
    light: #E6E6E6,
    contrast: dark
  )
);

@include theme.createTheme($colors, $typeConfig);
