:host {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #000;
  cursor: pointer;
  opacity: .01;
  touch-action: none;
  z-index: 1000;
}


:host(.backdrop-hide) {
  background: transparent;
}

:host(.backdrop-no-tappable) {
  cursor: auto;
}
