dist/
packages/react/Uni*/package.json
packages/react/defineElement-*/package.json
packages/docs/docs/api/**/**.md
!packages/docs/docs/api/index.md
core/www/
core/theming/
core/loader/
.stencil/
storybook-static

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
