@use "../../../css/theming/color";

:host {
  /**
   * @prop --uni-border-width: Border width for underlying field
   * @prop --uni-border-radius: Border radius for underlying field
   */
  display: block;
}

::slotted(uni-text-field) {
  margin: 0;
  height: 100%;
}

:host(.uni-selected) ::slotted(uni-text-field) {
  --uni-color: var(--uni-accent);
  height: 100%;
}
