@use "../../../css/theming/color";
@use "../../../css/theming/typography";

:host {
  /**
   * @prop --uni-border-color: Border color
   * @prop --uni-border-width: Border width
   * @prop --uni-border-radius: Border radius
   */
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 1rem 0;
}
:host(.uni-disabled) {
  opacity: 0.6;
}

.caption {
  @include typography.useStyle(overline);
  display: block;
  margin: 0 0 4px;
}

.optional-label {
  color: var(--uni-medium);
}

.input-field {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex: 1;
  border: var(--uni-border-width, 2px) solid var(--uni-border-color, var(--uni-dark));
  border-radius: var(--uni-border-radius, 4px);
}
:host(.input--has-errors) .input-field {
  border-color: var(--uni-danger);
}

.input-field:focus-within {
  box-shadow: 0 0 0 2px rgba(0, 128, 255, 0.5);
}

.prepend-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: color.useVar(light);
  user-select: none;
}
::slotted([slot=prepend]) {
  min-width: 20px;
  padding: 0 10px;
  margin: 0;
  text-align: center;
}

.input-elem {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  padding: 0.6rem 0.7rem;
  font-family: inherit;
  font-size: 1rem;
  border: none;
}
.error-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.4rem;
  margin: auto;
  width: 24px;
  height: 24px;
  color: var(--uni-danger);
}
.input-errors {
  color: var(--uni-danger);
  margin-top: 0.3rem;
}
ul.input-errors {
  padding: 0;
  list-style-type: none;
}

:host(.uni-disabled) .input-elem {
  cursor: not-allowed;
  background: none;
}
.input-elem:focus {
  outline: none;
}
