@use "../../css/theming/color";

$background: var(--uni-color, var(--uni-accent));
$text: var(--uni-color-contrast, var(--uni-accent-contrast));

:host {
  /**
   * @prop --uni-color: Background color. Recommended to use a .uni-color-* class
   * @prop --uni-color-contrast: Text color
   */
  display: inline-block;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  padding: 0 18px;
  height: 40px;
  min-width: 120px;
  width: 100%;
  border: none;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  font: inherit;
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
}
.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
::slotted([slot=prepend-icon]) {
  margin-right: 10px;
}

// Button variant
:host(.uni-button-icon) .button {
  min-width: 40px;
  padding: 0 !important;
}

// Disabled state
:host(.uni-disabled) .button {
  cursor: not-allowed;
  opacity: 0.7;
}

// Loading State
:host(.uni-loading) {
  .button {
    cursor: progress;
  }
  .button {
    background-image: linear-gradient(90deg, transparent 25%, rgba(255, 255, 255, 0.5) 37.5%, transparent 50%);
    background-size: 400% 400%;
    animation: uni-loading-pill 1.5s infinite linear;
  }
}

// Border style (except loading)
:host(.uni-variant-border:not(.uni-loading)) .button {
  padding: 0 16px;
  border: 2px solid $background;
  transition: background-color 0.3s, color 0.3s;
  color: $background;
}
// Border style hover (except disabled)
:host(.uni-variant-border:not(.uni-disabled):hover) .button, :host(.uni-variant-border:not(.uni-disabled)) .button:focus {
  color: $text;
  background-color: $background;
}

// Solid style, or loading style
:host(.uni-variant-solid), :host(.uni-loading) {
  .button {
    background-color: $background;
    transition: filter 0.3s;
    color: $text;
  }
}

// Solid style hover, not disabled
:host(.uni-variant-solid:not(.uni-disabled)) {
  .button:hover, .button:focus {
    filter: brightness(90%);
  }
}

@keyframes uni-loading-pill {
  from {
    background-position-x: 75%;
  }
  to {
    background-position-x: 0;
  }
}
