:host {
  display: block;
}


.wrapper {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
}

:host(.uni-variant-button) {
  $gutter: 0.6rem;
  .wrapper {
    margin: -$gutter;
  }
  ::slotted([uni-radio-option]) {
    --uni-border-width: 2px;
    --uni-border-radius: 4px;
    margin: $gutter;
    flex: 1;
  }
}
:host(.uni-variant-combo) {
  border: 2px solid var(--uni-dark);
  border-radius: 4px;

  .wrapper {
    overflow: hidden;
    margin: -1px;
  }
  ::slotted([uni-radio-option]) {
    --uni-border-width: 1px;
    --uni-border-radius: 0;
    flex: 1;
  }
}
