:host {
  display: block;
}

.uni-checkbox {
  position: relative;
  vertical-align: middle;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.uni-checkbox input {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0; // visually hide it
  cursor: pointer;
  z-index: 2;
}

.uni-checkbox .uni-checkbox-visual {
  width: 16px;
  height: 16px;
  border: 2px solid var(--uni-color-grey-dark);
  border-radius: 4px;
}

.uni-checkbox .uni-checkbox-check {
  position: absolute;
  display: none;
  align-items: center;
  overflow: hidden;
  color: var(--uni-color-grey-dark);
}

.uni-checkbox input:checked ~ .uni-checkbox-visual {
  background: var(--uni-color-yellow);
}

.uni-checkbox input:checked ~ .uni-checkbox-check {
  display: flex;
}

label {
  vertical-align: middle;
}
