@use "sass:map";

@function outputColor($hex) {
  @return rgba(red($hex), green($hex), blue($hex), var(--uni-opacity));
}

@function useVar($name, $shade: base) {
  @if $shade == base {
    @return var(--uni-color, var(--uni-#{$name}));
  } @else {
    @return var(--uni-color-#{$shade}, var(--uni-#{$name}-#{$shade}));
  }
}

@mixin _outputColorVars($name, $color-def) {
  // Output base
  @if map_has_key($color-def, base) {
    --uni-#{"" + $name}: #{outputColor(map_get($color-def, base))};
  } @else {
    @error No base shade for color $name;
  }

  // Output contrast color
  @if map.get($color-def, contrast) == light {
    --uni-#{"" + $name}-contrast: var(--uni-white);
  } @else {
    --uni-#{"" + $name}-contrast: var(--uni-dark);
  }

  // Output tints
  --uni-#{"" + $name}-shade: #{outputColor(map.get($color-def, shade))};
  --uni-#{"" + $name}-tint: #{outputColor(map.get($color-def, tint))};
}

@mixin _outputClass($name) {
  .uni-color-#{"" + $name} {
    --uni-color: #{useVar($name)};
    --uni-color-shade: #{useVar($name, shade)};
    --uni-color-tint: #{useVar($name, tint)};
    --uni-color-contrast: #{useVar($name, contrast)};
  }
}


@mixin colorRoot($colors) {
  --uni-opacity: 1;
  @if map.has-key($colors, white) != true {
    @include _outputColorVars(white, (
      base: #FFFFFF,
      shade: #EEEEEE,
      tint: #FFFFFF,
      contrast: dark
    ));
  }
  @if map.has-key($colors, black) != true {
    @include _outputColorVars(black, (
      base: #000000,
      shade: #000000,
      tint: #111111,
      contrast: light
    ));
  }
  @each $name, $def in $colors { // Sets up CSS variables defining every color
    @include _outputColorVars($name, $def);
  }
}
@mixin colorClasses($colors) {
  @each $name, $def in $colors {
    @include _outputClass($name);
  }
  @include _outputClass(white);
  @include _outputClass(black);
}
