@use "sass:list";
@use "sass:map";

$_textElems: h1, h2, h3, h4, h5, h6, p, i, code, b;

$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$uniStyles: (
  h1: (
    font-size: 3rem,
    font-family: var(--font-header),
    font-weight: $weight-semibold,
    line-height: 1.4
  ),
  h2: (
    font-size: 2.2rem,
    font-weight: $weight-semibold,
    font-family: var(--font-header),
  ),
  h3: (
    font-size: 2rem,
    font-weight: $weight-semibold,
    font-family: var(--font-header),
  ),
  h4: (
    font-size: 1.5rem,
    font-weight: $weight-semibold,
    font-family: var(--font-header),
  ),
  h5: (
    font-size: 1.25rem,
    font-weight: $weight-semibold,
    font-family: var(--font-header),
  ),
  h6: (
    font-size: 1rem,
    font-weight: $weight-semibold,
    font-family: var(--font-header),
  ),
  overline: (
    font-size: calc(2rem / 3),
    font-family: var(--font-body),
    font-weight: $weight-bold,
    text-transform: uppercase
  ),
  caption: (
    font-size: 0.8rem,
    font-family: var(--font-body),
    color: var(--uni-medium)
  ),
  link: (
    color: var(--uni-color, var(--uni-primary))
  ),
  body: ( // This is the root style
    font-size: 1rem,
    font-family: var(--font-body),
    font-weight: $weight-medium
  )
);

// Outputs the rules for a single style
@mixin useStyle($name) {
  @if map.has_key($uniStyles, $name) != true {
    @error "Unknown Font Style '#{$name}'"
  }

  @each $key, $val in map.get($uniStyles, $name) {
    #{$key}: #{$val};
  }
}
@mixin outputTypeClass($name, $val) {
  $selector: ".display-" + $name;
  @if list.index($_textElems, $name) {
    $selector: $selector + ", " + $name;
  }

  @if $name == link {
    button {
      &#{$selector} {
        font: inherit;
        padding: 0;
        background: none;
        border: none;
      }
    }
    $selector: $selector + ", a";
  }

  #{$selector} {
    @include useStyle($name);
  }
}

// Configures default font families
@mixin _useFontFamilyVars($fonts) {
  @if map.has_key($fonts, body) {
    --font-body: #{map.get($fonts, body)};
  } @else {
    --font-body: Arial, sans-serif;
  }

  @if map.has_key($fonts, header) {
    --font-header: #{map.get($fonts, header)};
  } @else {
    --font-header: Arial, sans-serif;
  }
}

// Outputs type configuration, should only be used in theming
@mixin typeRoot($typeConfig) {
  @include _useFontFamilyVars($typeConfig);

  font-family: var(--font-body);
  font-weight: $weight-medium;

  @if map.has_key($typeConfig, font-size) {
    font-size: map.get($typeConfig, font-size);
  } @else {
    font-size: 18px;
  }
}
@mixin typeClasses($typeConfig, $scope) {
  @if not map.has_key($uniStyles, body) {
    @error "You must include a body font style"
  }

  $fontStyles: $uniStyles;
  @if(map.has_key($typeConfig, styles)) {
    $fontStyles: map.merge($fontStyles, map.get($typeConfig, styles));
  }

  @each $name, $val in $uniStyles {
    @include outputTypeClass($name, $val);
  }
}
