@use "typography";
@use "color";

@mixin createTheme($colors, $typeConfig) {
  @include color.useColors($colors);
  @include typography.useType($typeConfig);
}

body {
  margin: 0;
}


@media (screen and min-width: 1000px) {
  a:not(:hover), .display-link:not(:hover) {
    text-decoration: none;
  }
}

a, .display-link {
  text-decoration: underline;
}

.block-link {
  display: block;
}
.block-link::after {
  content: '→';
  margin-left: 6px;
  display: inline-block;
  font-weight: bold;
}
