@use "../../css/theming/typography";
@use "../../css/theming/color";

:host {
  @include typography.useStyle(overline);
  display: inline-block;
  margin: 0.5rem 0;
  min-width: 40px;
  text-align: center;
  padding: 0.7em 1em;
  background: color.useVar(accent);
  color: color.useVar(accent, contrast);
}
