@use "../../../css/theming/color";
@use "../../../css/theming/typography";

:host {
  display: block;
  text-align: start;
}
:host(.uni-select--errored) {
  --uni-color: var(--uni-danger);
}

.select-label {
  @include typography.useStyle(overline);
  margin: 0.4em 0;
}

.select-box {
  position: relative;
}
.select-icons {
  position: absolute;
  right: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
}
.drop-icon {
  height: 0;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: color.useVar(dark) transparent transparent transparent;
}
.error-icon {
  width: 24px;
  height: 24px;
  color: var(--uni-danger);
}

::slotted(select) {
  width: 100%;
  border: 2px solid color.useVar(dark);
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
  padding: 0.6rem 0.7rem;
  background: #FFF;
}
::slotted(select:focus) {
  box-shadow: 0 0 0 2px rgba(0, 128, 255, 0.5);
}
