@use "../theme";

$typeConfig: (
  body: unquote("Futura, sans-serif"),
  header: unquote("Graphik, sans-serif"),

  light: #FFFFFF, // Light colored text
  dark: #303030
);

$colors: (
  primary: (
    base: #1CABE2,
    shade: #374EA2,
    tint: #49BDEB,
    contrast: light
  ),
  accent: (
    base: #FFC20E,
    shade: #F0A800,
    tint: #FFD119,
    contrast: dark
  ),
  success: (
    base: #80BD41,
    shade: #6EA82C,
    tint: #81C74C,
    contrast: dark
  ),
  danger: (
    base: #E2231A,
    shade: #CF1B0A,
    tint: #F02E2B,
    contrast: light
  ),
  dark: (
    base: #303030,
    shade: #262424,
    tint: #3D3D3D,
    contrast: light
  ),
  medium: (
    base: #6A6A6A,
    shade: #535353,
    tint: #767676,
    contrast: light
  ),
  light: (
    base: #D6D6D6,
    shade: #B3B3B3,
    tint: #E6E6E6,
    contrast: dark
  )
);

@include theme.createTheme($colors, $typeConfig, unquote(".uniform-root"));

.uniform-root {
  a, .display-link {
    text-decoration: underline;
  }

  @media (screen and min-width: 1000px) {
    a:not(:hover), .display-link:not(:hover) {
      text-decoration: none;
    }
  }

  .block-link {
    display: block;
  }
  .block-link::after {
    content: '→';
    margin-left: 6px;
    display: inline-block;
    font-weight: bold;
  }
}

