@use "../../css/color";

$background: color.useVar(accent);
$contrast: color.useVar(accent, contrast);

:host {
  display: inline-block;
  min-width: 120px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border: none;
  border-radius: 20px;
  background: none;
  height: 40px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
}

.prepend-icon {
  margin-right: 10px;
}

:host(.style-border) {
  .button {
    border: 2px solid $background;
    transition: background-color 0.3s, color 0.3s;
    color: $background;
  }

  .button:hover, .button:focus {
    color: $contrast;
    background: $background;
  }
}

:host(.style-solid) {
  .button {
    background: $background;
    transition: filter 0.3s;
    color: $contrast;
  }

  .button:hover, .button:focus {
    filter: brightness(90%);
  }
}

