@use "../../../css/theming/color";

:host {
  flex: 1;
  display: block;
}
:host(:not(:last-child)) {
  border-right: 1px solid color.useVar(dark);
}

.uni-radio-option {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5em 1em;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

.uni-radio-option.uni-selected {
  background: color.useVar(accent);
}
