@use "../../../css/theming/color";
:host {
  display: block;
}

.radio-fields {
  padding: 0;
  border: none;
}

uni-radio-controller {
  display: flex;
  justify-content: stretch;
  border: 1px solid color.useVar(dark);
  border-radius: 4px;
  overflow: hidden;
  padding: 0;
}
