:host {
  display: block;
}

.uni-checkbox-indeterminate {
  width: 8px;
  border: 2px solid var(--uni-accent-contrast);
}
.uni-checkbox-check {
  width: 1rem;
  height: 1rem;
  color: var(--uni-accent-contrast);
}

.uni-checkbox input, label {
  cursor: pointer;
}

label {
  vertical-align: middle;
}

.uni-checkbox {
  position: relative;
  vertical-align: middle;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.uni-checkbox input {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0; // visually hide it
  cursor: pointer;
  z-index: 2;
}

.uni-checkbox .uni-checkbox-visual {
  width: 16px;
  height: 16px;
  border: 2px solid var(--uni-accent-contrast);
  border-radius: 4px;
}

.uni-checkbox .uni-checkbox-icon {
  position: absolute;
  display: none;
  align-items: center;
  overflow: hidden;
  color: var(--uni-accent-contrast);
}


// Disabled state ( [disabled] )
:host(.uni-disabled) {
  .uni-checkbox input, label {
    cursor: not-allowed;
  }
  .uni-checkbox input:checked ~ .uni-checkbox-visual {
    background: var(--uni-light);
  }
  label {
    opacity: 0.5;
  }
}

// Checked state
.uni-checkbox input:checked ~ , :host(.uni-indeterminate) {
  .uni-checkbox-visual {
    background: var(--uni-accent);
  }
  .uni-checkbox-icon {
    display: flex;
  }
}

// Hide when not indeterminate
:host(:not(.uni-indeterminate)) .uni-checkbox-indeterminate {
  display: none;
}

// Hide when indeterminate or not checked
:host(.uni-indeterminate), .uni-checkbox input:not(:checked) ~ {
  .uni-checkbox-icon .uni-checkbox-check {
    display: none;
  }
}
