@use "sass:map";
@use "vars";

// The `"" + $name` is because the sass compiler gets angry when we include color names in interpolation

:root {
  --font-primary: #{vars.$primary-font-face};
  --font-accent: #{vars.$accent-font-face};

  @each $name, $tints in vars.$uni-colors {
    @each $tint-name, $color in $tints {
      --uni-color-#{"" + $name}-#{$tint-name}: #{$color};
    }
    @if map_has_key($tints, "base") {
      --uni-color-#{"" + $name}: #{map_get($tints, "base")};
    }
  }
}

@each $name, $tints in vars.$uni-colors {
  @each $tint-name, $color in $tints {
    .uni-color-#{"" + $name}-#{$tint-name} {
      color: $color;
    }
  }
  @if map_has_key($tints, "base") {
    .uni-color-#{"" + $name} {
      color: map_get($tints, "base");
    }
  }
}
