:host {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host(:not(.is-open)) {
  display: none;
}

.dialog-backdrop {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.dialog-pane {
  position: relative;
  margin: 32px;
  max-height: 100vh;
  overflow-y: auto;
}

.dialog-pane.shaking {
  animation: 0.1s ease-in-out alternate infinite uni-dialog-grow;
}

@keyframes uni-dialog-grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
  }
}
