@use "../../css/typography";

:host {
  --underline-color: var(--uni-color-blue);
  @include typography.useStyle(h5);
  display: inline-block;
  padding: 4px 0;
  border-bottom: 2px var(--underline-color) solid;
}
