@use "../../css/theming/typography";

:host {
  position: relative;
  z-index: 10;

  margin: 2rem;
  padding: 0.5rem 1rem 0.7rem;
  min-width: 200px;


  background: #FFF;
  border-radius: 8px;

  animation: 0.2s ease-out 1 forwards uni-dialog-enter, 0.1s ease-in-out alternate infinite uni-dialog-grow paused;
}

:host(.uni-dialog--shaking) {
  animation-play-state: paused, running;
}

.dialog-title {
  @include typography.useStyle(h4);
  margin: 0;
  uni-underline {
    padding: 0;
  }
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

@media (prefers-reduced-motion) {
  :host {
    animation: none;
  }
  :host(.uni-dialog--shaking) {
    outline: 4px solid red;
  }
}

@keyframes uni-dialog-grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
  }
}

@keyframes uni-dialog-enter {
  from {
    opacity: 0.2;
    top: -0.5rem;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
