:host {
  /**
   * @prop --uni-color: Background color for this button when active
   * @prop --uni-border-width: Width of the  button border
   * @prop --uni-border-radius: Border radius
   */
  display: block;
}

input {
  position: absolute;
  visibility: hidden;
}

label {
  border: var(--uni-border-width, 2px) solid var(--uni-dark);
  border-radius: var(--uni-border-radius, 4px);
  background: var(--uni-background, transparent);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1em;
  height: 100%;
  box-sizing: border-box;
  font: inherit;
}

:host(.uni-disabled) label {
  opacity: 0.6;
  color: rgba(48, 48, 48, 0.6)
}

:host(.uni-selected) label {
  background: var(--uni-color, var(--uni-accent));
}
