:host {
  /**
   * @prop --uni-color-active: Background color for this button when active
   * @prop --uni-border-width: Width of the  button border
   * @prop --uni-border-radius: Border radius
   */
  display: block;
}

.button {
  border: var(--uni-border-width, 2px) solid var(--uni-dark);
  border-radius: var(--uni-border-radius, 4px);
  background: var(--uni-background, transparent);
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0.6em 1em;
  font: inherit;
}

:host(.uni-selected) .button {
  background: var(--uni-color-active, var(--uni-accent));
}

.button:focus {
  outline: none;
  background: var(--uni-light-tint);
}

:host(.uni-selected) .button:focus {
  background: var(--uni-accent-tint);
}
